#inner {
    position: absolute;
    left: 100px;
    border: solid 2px red;
    height:50px;
    width:50px;
    z-index: 0;
}

#outer {
    z-index: 1;
    position: relative;
    height: 200px;
    width: 200px;
    border: solid 2px black;
}