body {
    text-align: center;
}

#piano {
    margin: auto;
    display: flex;
    text-align: center;
    max-width: 600px;
    user-select: none;
}

.piano-key:not(.sharp) {
    border: solid black 1px;
    color: black;
    background-color: white;
    position: relative;
    align-self: flex-end;
    width: 12.5%;
    height: 300px;
    transition: background-color 100ms linear;
}

.piano-key.sharp {
    color: white;
    background-color: black;
    position: absolute;
    left: 70%;
    width: 60%;
    height: 60%;
    z-index: 3;
    transition: background-color 100ms linear;
}

.active:not(.sharp) {
    background-color: #bbb;
    transition: background-color 0ms linear;
}

.active.sharp {
    background-color: #444;
    transition: background-color 0ms linear;
}

#info {
    margin: auto;
}

#keybindings-btn {
    margin-bottom: 5px;
}

#keybindings-div>table {
    font-family: monospace;
    margin: auto;
    border: solid 1px black;
}

#keybindings-div>table>tbody>tr:nth-child(1)>td {
    border-left: solid 1px black;
}

#keybindings-div>table>tbody>tr:nth-child(2)>td {
    border-left: solid 1px black;
}