html, body {
    height: 100%;
    text-align: center;
}

#container {
    width: 60%;
    margin:auto;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#title {
    background-color: rgb(255, 186, 186);
    padding: 5px;
    margin: 20px 0px;
}

#title>h1 {
    margin: 0px;
}

button {
    color: white;
    background-color: #444;
    padding: 5px 10px;
}

button:hover {
    background-color: #111;
}

#piano {
    margin: auto;
}
svg{
    width:640px;
    height:240px;
}
.white-key{
    stroke:black;
    fill:white;
    z-index:-1;
}
.black-key{
    stroke:white;
    fill:black;
    z-index:1;
}
.white-key:hover, .white-key.active{
    fill:#ddd;
}
.black-key:hover, .black-key.active{
    fill:#444;
}
#source-info {
    margin: auto;
}

#instructions {
    margin: 10px 0px;
}

#keybindings-div>table {
    font-family: monospace;
    margin: auto;
    border: solid 1px black;
}

#keybindings-div>table>tbody>tr:nth-child(1)>td {
    border-left: solid 1px black;
}

#keybindings-div>table>tbody>tr:nth-child(2)>td {
    border-left: solid 1px black;
}
@media only screen and (max-width: 1440px) {
    /* For mobile phones: */
    #container {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #container {
        width: 100%;
    }
}