#piano-container {
    transition: visibility 0s, opacity 0.5s linear;
    visibility: visible;
    margin: auto;
    user-select: none;
    opacity: 1;
    &.piano-hidden {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}

#piano-svg {
    width: 100%;
    max-width: 700px;
    &.fs-screen-piano {
        height: 100%;
        max-width: none;
    }
}
@mixin piano-key($stroke, $fill, $active-stroke, $active-fill, $hover-stroke, $hover-fill){
    $fill-animation: fill 100ms linear;
    transition: $fill-animation;
    stroke: $stroke;
    fill: $fill;

    &:hover{
        @media (hover: hover) and (pointer: fine) {
            transition: $fill-animation;
            stroke: $hover-stroke;
            fill: $hover-fill;
        }
    }

    &.active {
        transition: $fill-animation;
        stroke: $active-stroke;
        fill: $active-fill;
    }
}
.white-key {
    @include piano-key(#000, #fff, #000, #aaa, #000, #ccc);
}
.black-key {
    @include piano-key(#000, #000, #444, #444, #333, #333);
}

#keybindings-div {
    margin-top: 10px;
}

#instructions {
    margin: 10px 0px;
}

table,
th,
td {
    margin: auto;
    border: 1px solid black;
}
