#piano-container {
    position: relative;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: visible;
    margin: auto;
    user-select: none;
    opacity: 1;
    &.piano-hidden {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}
#activate-piano-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    max-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    $gradient-color: rgba(29, 38, 113, 0.5), rgba(195, 55, 100, 0.5);
    background: -webkit-linear-gradient($gradient-color);
    background: linear-gradient($gradient-color);
    span {
        padding: 5px 10px;
        background-color: rgba($color: #000, $alpha: 0.7);
        font-size: 3em;
        border-radius: 20px;
    }
}

#button-div > button{
    margin: 5px;
}
#piano-svg {
    width: 100%;
    max-width: 700px;
    &.fs-screen-piano {
        height: 100%;
        max-width: none;
    }
}
@mixin piano-key($stroke, $fill, $active-stroke, $active-fill, $hover-stroke, $hover-fill) {
    $fill-animation: fill 100ms linear;
    transition: $fill-animation;
    stroke: $stroke;
    fill: $fill;
    stroke-width: 0.265;

    &:hover {
        @media (hover: hover) and (pointer: fine) {
            transition: $fill-animation;
            stroke: $hover-stroke;
            fill: $hover-fill;
        }
    }

    &.active {
        transition: $fill-animation;
        stroke: $active-stroke;
        fill: $active-fill;
    }
}
.white-key {
    @include piano-key(#000, #fff, #000, #aaa, #000, #ccc);
}
.black-key {
    @include piano-key(#000, #000, #444, #444, #333, #333);
}

#keybindings-div {
    margin-top: 10px;
}

#instructions {
    margin: 10px 0px;
}

table,
th,
td {
    margin: auto;
    border: 1px solid black;
}
