$mainColor: rgba(255, 192, 23, 1);
@mixin responsive-width {
    margin: auto;
    width: 70%;
    @media screen and (max-width: 1200px) {
        width: 80%;
    }
    @media screen and (max-width: 900px) {
        width: 90%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}
body,
html {
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.title {
    background: $mainColor;
    border-bottom: solid 1px black;
    padding: 10px;
    &__text {
        font-size: 3.5em;
        color: #000;
        margin: 0px;
    }
}
.header {
    @include responsive-width;
    &__bg {
        border-radius: 0 0 20px 20px;
        background: $mainColor;
    }
    display: flex;
    flex-wrap: wrap;
    &__pane {
        display: flex;
        width: 50%;
        &__text {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            align-items: center;
            h2 {
                margin: 10px 10px;

                @media screen and(max-width: 700px) {
                    font-size: 2.6em;
                }
                font-size: 3.2em;
            }
            p {
                margin: 10px 10px;
                @media screen and(max-width: 700px) {
                    font-size: 0.8em;
                }
            }
        }
        svg {
            margin: auto;
            max-width: 300px;
        }
        @media screen and(max-width: 700px) {
            width: 100%;
        }
    }
}

@mixin piano-key($stroke, $fill, $active-stroke, $active-fill, $hover-stroke, $hover-fill) {
    $fill-animation: fill 100ms linear;
    transition: $fill-animation;
    stroke: $stroke;
    fill: $fill;
    stroke-width: 0.265;

    &:hover {
        @media (hover: hover) and (pointer: fine) {
            transition: $fill-animation;
            stroke: $hover-stroke;
            fill: $hover-fill;
        }
    }

    &.active {
        transition: $fill-animation;
        stroke: $active-stroke;
        fill: $active-fill;
    }
}

.white-key {
    @include piano-key(#000, #fff, #000, #aaa, #000, #ccc);
}

.black-key {
    @include piano-key(#000, #000, #444, #444, #333, #333);
}

.piano-small {
    @include responsive-width;
    max-width: 700px;
}
.fullscreen-enabled .piano-small {
    & svg {
        width: 100%;
        height: 100%;
    }
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
}
.piano-large {
    @include responsive-width;
    max-width: 1200px;
}
.fullscreen-enabled .piano-large {
    & svg {
        width: 100%;
        height: 100%;
    }
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
}
.overlaySmall {
    @include responsive-width;
    margin-top: 10px;
    position: relative;
    max-width: 700px;
    .white-key {
        fill: #3333;
    }
    .black-key {
        fill: #111;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__text {
            padding: 15px 10px 10px 10px;
            background-color: #222;
            color: white;
            font-size: 2em;
            border-radius: 20px;
        }
    }
}
.keybinding {
    @include responsive-width;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-top: solid 1px black;
    border-left: solid 1px black;
    &__pair {
        display: grid;
        align-items: center;
        height: 60px;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
    }
    &__pair:last-child {
        border: none;
    }
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.hidden {
    display: none;
}
.input-container {
    margin: 0 0 7px 0;
}
.app-container {
    margin: auto;
}

#fullscreen-btn {
    margin-bottom: 5px;
}
